@use '../abstracts/sizes';
@use '../abstracts/colors';

.description-card {
  background-image: url("../../img/splash-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: left;
  padding: calc(#{sizes.$content-padding * 5}) sizes.$content-padding;
}

.description-card__text {
  max-width: 500px;
  padding: sizes.$content-padding;
  margin-left: auto;
  background: colors.$white;
}
.description-card__image {
  img {
    width: 100%;
  }
}
