@use "../abstracts/colors";
@use "../abstracts/sizes";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: colors.$primary;
  h1 {
    color: colors.$white;
    padding: calc(#{sizes.$content-padding} / 2);
    padding-left: 0;
  }

  ul {
    padding: calc(#{sizes.$content-padding} / 2);
    list-style: none;
    display: flex;
    gap: 5px;
  }

  li {
    display: flex;
    align-items: center;
  }
}

.navbar__title {
  display: flex;
  flex-direction: row;
  img {
    width: 50px;
  }
}
