@use "./colors";
@use "./sizes";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  * {
    font-family: "Open Sans", sans-serif;
  }
}

p,
span,
ol,
ul,
li,
label,
textarea,
input,
button {
  font-size: 1.4rem;
}

a {
  font-size: 1.4rem;
  color: colors.$primary;
  text-decoration: none;
  &:visited {
    color: colors.$primary;
  }
  &:hover {
    color: colors.$secondary;
  }
}

.navbar {
  a {
    color: colors.$white;
    &:hover {
      color: colors.$tertiary;
    }
  }
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

h1 {
  color: colors.$primary;
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}
